Body{
    background-image: url(https://wallpaperaccess.com/full/527891.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
p{
    color: rgb(255, 255, 255);
    

}
img {
    height:300px;
    width: 300px;
    position:relative;
    top: 90px;
    left:540px;
}
h1{
    color:rgb(255, 255, 255);
}
    
