 img {
height:300px;
width: 300px;
position:relative;
top: 200px;
left:525px;
}
Body{
    background-image: url(https://dbdzm869oupei.cloudfront.net/img/alfombretaratoli/preview/21281.png
     ) ;
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
h1 {
    color:rgb(0, 60, 255);
}
h2{
    color:rgb(0, 38, 255);
}