 img {
height:300px;
width: 300px;
position:relative;
top: 200px;
left:525px;
}
Body{
    background-image: url(https://img.freepik.com/free-photo/bokeh-abstract-blurred-orange-yellow-beautiful-background_51768-60.jpg?size=626&ext=jpg ) ;
    background-repeat: no-repeat, repeat;
    background-size: cover; 
}
h1 {
    color:gold;
}
h2{
    color:gold;
}