body{  
    background-image: url(https://wallpaperaccess.com/full/84248.png) ;
    background-repeat: no-repeat, repeat;
    background-size: cover; 

}
}
#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(193, 5, 240);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
nav h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
nav ul {
    list-style-image: none;
}
nav li {
    display: inline-block;
    padding: 0 10px;
}
nav a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(0, 0, 0);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}
h2, h3 {
    margin: 0px;
}
[id=all-contents] {
    max-width: 800px;
    margin: auto;
}
#all-contents {
    max-width: 800px;
    margin: auto;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
[class=sidebar] {
    margin-right: 25px;
    padding: 10px;
}
av {
    background: rgb(198, 5, 247);
    margin: 0 auto;
    display: flex;
    padding: 10px;
}