body{
    background-image: url("ljkbnctyfyu8klgy.jpg");
}
h1{
    text-align: center;
    color:white;
}
h2{
    text-align: center;
    color:white;
}

#banna{
    position: absolute;
   top:150px; 
   left: 0px;
   width: 100px;
   height:100px;
}

#hotdog{
    position: absolute;
    top: 350px;
    left: 0px;
    width: 100px;
    height: 100px;
    
}
#line{
    background-color: black;
    width: 10px;
    height: 350px;
    position: absolute;
     left: 1200px;
     top: 150 px;
    

    

}
#bannaw{
    background-color:white;
    width:50%;
    height:50%;
    position: absolute;
    top:25%;
    left:25%;
    font-size: 100px;
    text-align: center;
    display: none;
}