body{
    background-image:url(https://images.squarespace-cdn.com/content/v1/57c92580c534a5c7c898f469/1512367872210-QTYJYK0DYAJR82U9XFUK/The_Office_Trump.jpg) ;
 background-repeat: no-repeat,repeat;
 background-size:cover;

}
#office{
    width:150px;
    height:150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:5px;
  }
  #jim{
    width:125px;
    height: 125px;
    position: absolute;
    top: 5px;
    
  }
  #dwight{
    height:125px;
    width: 125px;
    position:absolute;
    top:150px;
    
  }
   #stanley{
         height:125px;
         width:125px;
         position:absolute;
         top:300px;
  }
  #kevin{
    height:125px;
    width:125px;
    position: absolute;
    top:500px;
  }
  h1{
    margin: auto;
  width: 12%;
  border: 0px solid red;
  padding: 10px;
  color:white;
  font-size:40;
  }
  #paper{
    color:white;
    font-size: 20px;
    margin: auto;
    width: 5%;
    border: 0px solid red;
    padding: 10px;
    color:white;
    

  }
  #jimcost{
    position:absolute;
    top: 5px;
    left:150px;
    color:white;
    font-size: 20px;
  }
   #dwightcost{
     color:white;
     position: absolute;
     top:150px;
     left:150px;
     font-size: 20px;
   }
   #stanleycost{
     color:white;
     position: absolute;
     top:300px;
     left:150px;
     font-size: 20px;


   }
   #kevincost{
       color:white;
       position: absolute;
       top:500px;
       left:150px;
       font-size: 20px;
   }
   #tobby{
     width:125px;
     height:125PX;
     position: absolute;
     top:5px;
     left: 1250px;
     
   }
   #tobbycost{
      color:white;
      position: absolute;
      top: 125px;
      left:1250px;
   }