body{
    background-image:url(https://i.pinimg.com/736x/dc/71/1c/dc711cc4c3ebafcd21f2a61efe8fd6cd.jpg) ;
 background-repeat: no-repeat,repeat;
 background-size:cover;

}
#office{
    width:150px;
    height:150px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top:5px;
  }
  #jim{
    width:100px;
    height: 100px;
    top: 5px;
  }
  #dwight{
    height:100px;
    width: 100px;
    top:30px;
    
  }
   #stanley{
         height:100px;
         width:100px;
         top:60px;
  }
  h1{
    margin: auto;
  width: 12%;
  border: 0px solid red;
  padding: 10px;
  color:white;
  font-size:40;
  }
  #paper{
    color:white;
    font-size: 20px;
    margin: auto;
    width: 5%;
    border: 0px solid red;
    padding: 10px;
    color:white;
    

  }